<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fortune teller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62CEA14F1EFD70D3009A3E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CEA1631EFD70D4009A3E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CEA16E1EFD70D4009A3E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
